<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔗</text></svg>">
	<title>Anchor Tag Interactions Across Browsers</title>
	<meta name="description" content="What do links do for various clicks and keyboard shortcuts? By Ben Myers.">
	<link rel="stylesheet" href="styles.css">
	<meta property="og:image" content="{{ openGraphImage }}" />
	<meta name="theme-color" content="#4C1074" />
</head>
<body data-show-highlights="true">
	<header>
		<h1>Anchor Tag Interactions Across Browsers</h1>
		<p>How an <code>&lt;a href&gt;</code> behaves across browsers with various clicks and modifiers. Assembled by <a rel="me" href="https://benmyers.dev/">Ben Myers</a>.</p>
		<p>
			<input type="checkbox" id="show-deviations" name="show-deviations" checked />
			<label for="show-deviations">Highlight deviating behaviors?</label>
		</p>
		<p><small style="font-style: italic">Notice something wrong? Please feel free to <a href="https://a11y.info/@ben">let me know</a> or <a href="https://github.com/BenDMyers/anchor-interactions">contribute a fix</a>!</small></p>
	</header>
	<main>
		<section id="macos" aria-labelledby="macos-caption">
			<div class="wrapper">
				<table>
					<caption id="macos-caption">macOS Browsers</caption>
					<thead>
						<tr>
							<th scope="col">Interaction</th>
							{% for browser in macos.browserHeadings %}
							<th scope="col">{{ browser }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for interaction in macos.interactions %}
						<tr>
							<th scope="row">
								{{ interaction.interaction | join: '+' }}
							</th>
							{% for browser in macos.browserHeadings %}
							{% assign abnormal = false %}
							{% if interaction.abnormal and interaction.abnormal contains browser %}
							{% assign abnormal = true %}
							{% endif %}
							<td {% if abnormal %}class="abnormal"{% endif %}>
								{{ interaction.browsers[browser] }} {% if abnormal %}<span class="visually-hidden">(deviates)</span>{% endif %}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		<section id="windows" aria-labelledby="windows-caption">
			<div class="wrapper">
				<table>
					<caption id="windows-caption">Windows Browsers</caption>
					<thead>
						<tr>
							<th scope="col">Interaction</th>
							{% for browser in windows.browserHeadings %}
							<th scope="col">{{ browser }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for interaction in windows.interactions %}
						<tr>
							<th scope="row">
								{{ interaction.interaction | join: '+' }}
							</th>
							{% for browser in windows.browserHeadings %}
							{% assign abnormal = false %}
							{% if interaction.abnormal and interaction.abnormal contains browser %}
							{% assign abnormal = true %}
							{% endif %}
							<td {% if abnormal %}class="abnormal"{% endif %}>
								{{ interaction.browsers[browser] }} {% if abnormal %}<span class="visually-hidden">(deviates)</span>{% endif %}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>

	<script>
		function handleWrapperScroll() {
			const wrappers = document.querySelectorAll('.wrapper');
			console.log({wrappers});
			wrappers.forEach(wrapper => {
				const table = wrapper.querySelector('table');
				if (wrapper.clientWidth < table.clientWidth) {
					wrapper.tabIndex = 0;
					wrapper.setAttribute('role', 'group');
					wrapper.setAttribute('aria-label', 'Horizontally scrollable region');
				} else {
					wrapper.removeAttribute('tabindex');
					wrapper.removeAttribute('role');
					wrapper.removeAttribute('aria-label');
				}
			});
		}

		window.addEventListener('resize', handleWrapperScroll);
		handleWrapperScroll();

		const highlightToggle = document.querySelector('[type="checkbox"]');
		highlightToggle.addEventListener('change', (event) => {
			if (event.target.checked) {
				document.body.setAttribute('data-show-highlights', 'true');
			} else {
				document.body.removeAttribute('data-show-highlights');
			}
		});
	</script>
</body>
</html>