@import "https://unpkg.com/open-props";

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

:root {
	--page-bg: var(--indigo-2);
	--zebra-bg-odd: var(--indigo-0);
	--zebra-bg-even: var(--indigo-1);
	--page-text: var(--gray-9);
	--shortcut-text: var(--choco-6);
	--table-border-color: var(--gray-5);
	--table-header-color: var(--blue-3);
	--row-hover-color: var(--indigo-3);
	--abnormal-cell-color: var(--red-3);

	@media (prefers-color-scheme: dark) {
		--page-bg: var(--gray-9);
		--zebra-bg-even: var(--gray-9);
		--zebra-bg-odd: #272C31;
		--page-text: var(--gray-1);
		--shortcut-text: var(--choco-3);
		--table-border-color: var(--gray-7);
		--table-header-color: var(--violet-12);
		--row-hover-color: var(--gray-8);
		--abnormal-cell-color: var(--pink-12);

		tr:hover {
			--abnormal-cell-color: var(--pink-11);
		}
	}

	--table-border: 1px solid var(--table-border-color);
	background-color: var(--page-bg);
	color: var(--page-text);
	color-scheme: dark light;
}

body {
	font-family: var(--font-sans);
}

header {
	// max-inline-size: var(--size-content-3);
	text-align: center;
	margin-inline: auto;
}

main {
	margin-inline: auto;
	// max-inline-size: var(--size-content-3);
}

kbd {
	color: var(--shortcut-text);
}

kbd, code {
	font-family: var(--font-mono);
	margin-inline: var(--size-1);
}

.wrapper {
	overflow-x: auto;
	min-width: 30ch;
	width: 100%;

	&:focus-visible {
		outline: 1px solid var(--blue-2);
	}
}

table {
	background-color: var(--zebra-bg-odd);
	border-collapse: collapse;
	border: var(--table-border);
	width: 100%;
	// overflow-x: auto;

	caption {
		font-size: var(--font-size-3);
		margin-block-end: var(--size-fluid-1);
		font-weight: 700;
	}

	th, td {
		border: var(--table-border);
		padding-block: var(--size-fluid-1);
		padding-inline: var(--size-fluid-1);

		&.abnormal {
			background-color: var(--abnormal-cell-color);
			font-style: italic;
		}
	}

	thead th {
		background-color: var(--table-header-color);
	}

	tr {
		&:nth-child(even) {
			background-color: var(--zebra-bg-even);
		}

		&:hover {
			background-color: var(--row-hover-color);
		}
	}
}

section {
	margin-block-end: var(--size-fluid-5);
	margin-inline: var(--size-fluid-2);
}